<!DOCTYPE html>
<html lang="en">
<head>
  <title>Futbol Argentino</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: antiquewhite; min-height: 100%;">

  <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <a style="text-decoration: none;" href="https://futbolargentinojuego.vercel.app">
      <h1 style="color: rgb(52, 170, 197);">Futbol Argentino</h1>
    </a>
    <p>Click en el enlace para jugar</p>
  </div>
</body>
</html>
